<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" text="Accueil"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Tab Two
        </ion-title>
        <ion-buttons slot="end" *ngIf="!connected">
            <ion-button color="danger" (click)="logout()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content></ion-content>
